.contactButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #333333;
    border-color: #54575b;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.contactButton:hover {
    background-color: #54575b;
    border-color: #333333;
}

.infoBox {
    text-align: center;
}

